<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pilipili.mapper.VideoPlayHistoryMapper">

    <resultMap id="BaseResultMap" type="com.pilipili.Model.entity.VideoPlayHistory">
            <id property="userId" column="userId" jdbcType="VARCHAR"/>
            <id property="videoId" column="videoId" jdbcType="VARCHAR"/>
            <result property="fileIndex" column="fileIndex" jdbcType="INTEGER"/>
            <result property="lastUpdateTime" column="lastUpdateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId,videoId,fileIndex,
        lastUpdateTime
    </sql>
    <select id="getVideoPlayHistoryList" resultType="com.pilipili.Model.entity.VideoPlayHistory">
        select
        <include refid="Base_Column_List"/>,
            v.videoName,v.videoCover,v.videoDuration,u.nickName,
            left join VideoInfo v on vh.videoId = v.videoId
            left join userInfo u on v.userId = u.userId
        from VideoPlayHistory vh
        where userId = #{userId}
        order by vh.lastUpdateTime desc
    </select>
</mapper>
